#page-title.clearfix
  %h1= "Editar #{Usuario.model_name.human}"
  = render :partial => "shared/breadcrumbs"

.show.widget
  .widget-header
    %h3
      Editar #{Usuario.model_name.human}
  .widget-content
    = simple_form_for [:admin,@usuario], html: {class: "form-horizontal"} do |form|
      = render :partial => 'form', :locals => {:form => form}
      .form-actions
        - if action_name == 'perfil'
          = buttons_update(main_path)
        - else
          = buttons_update(admin_usuarios_path)