- content_for :head do
  = javascript_include_tag 'resoluciones.js'

- @forview = "NEW"
= render :partial => "breadcrumbs"

%h1.alt= Resolucion.model_name.human.pluralize

= render :partial => "solicitudes/solicitud"

.mantform
  %h2
    Nueva
    = Resolucion.model_name.human

  = simple_form_for [@solicitud, @resolucion] do |form|

    = render :partial => 'form', :locals => {:form => form}
    = buttons_create(solicitud_resoluciones_path(@solicitud))