#page-title.clearfix
  %h1= "Nuevo #{Idioma.model_name.human}"
  = render :partial => "shared/breadcrumbs"

.show.widget
  .widget-header
    %h3 Nuevo Idioma
  .widget-content
    = simple_form_for(@idioma, :html => {:class => 'form-horizontal'}) do |form|
      = render :partial => 'form', :locals => {:form => form}
      .form-actions
        = buttons_create(idiomas_path)