#page-title.clearfix
  %h1= "Nuevo #{Departamento.model_name.human}"
  = render :partial => "shared/breadcrumbs"

.show.widget
  .widget-header
    %h3 Nuevo Departamento
  .widget-content
    = simple_form_for(@departamento, :html => {:class => 'form-horizontal'}) do |form|
      = render :partial => 'form', :locals => {:form => form}
      .form-actions
        = buttons_create(departamentos_path)