#page-title.clearfix
  %h1= Institucion.model_name.human.pluralize
  = render :partial => "shared/breadcrumbs"
.widget
  #options.widget-toolbar
    = button_new(new_institucion_path)
    = render :partial => 'shared/findbox', :locals => {:url => instituciones_path}
  .widget-content
    %table.table
      %thead
        %tr
          %th= Institucion.human_attribute_name(:nombre)
          %th= 'Activa'
          %th= Institucion.human_attribute_name(:codigo)
          %th= Institucion.human_attribute_name(:unidad_ejecutora)
          %th= Institucion.human_attribute_name(:entidad)
          %th= Institucion.human_attribute_name(:parent_id)
      %tbody
        - @instituciones.each do |institucion|
          %tr{:class => "#{ 'inactive' unless institucion.activa? }"}
            %td= link_to institucion.nombre.strip, institucion_path(institucion)
            %td= institucion.activa? ? 'Si' : 'No'
            %td= institucion.codigo
            %td= institucion.unidad_ejecutora
            %td= institucion.entidad

            %td= institucion.parent.nil? ? '' : institucion.parent.nombre.strip
    = will_paginate @instituciones