#page-title.clearfix
  %h1= Tiporesolucion.model_name.human
  = render :partial => "shared/breadcrumbs"

- if @tiporesolucion.errors.any?
  .error
    %ul
    - @tiporesolucion.errors.full_messages.each do |msg|
      %li= msg

.show.widget.widget-table
  #options.widget-toolbar
    = button_new(new_tiporesolucion_path)
    = button_edit(edit_tiporesolucion_path(@tiporesolucion))
    = button_delete(tiporesolucion_path(@tiporesolucion))
    = button_cancel(tiposresoluciones_path)
  .widget-content
    %table.table.table-bordered
      %tr
        %th= Tiporesolucion.human_attribute_name(:nombre)
        %td= @tiporesolucion.nombre
      %tr
        %th= label :actualiza_fecha_notificacion, Tiporesolucion.human_attribute_name(:actualiza_fecha_notificacion)
        %td= @tiporesolucion.actualiza_fecha_notificacion
      %tr
        %th= label :actualiza_fecha, Tiporesolucion.human_attribute_name(:actualiza_fecha)
        %td= @tiporesolucion.actualiza_fecha
      %tr
        %th= label :estado_id, Tiporesolucion.human_attribute_name(:estado_id)
        %td= @tiporesolucion.estado.nombre
      %tr
        %th= label :positiva, Tiporesolucion.human_attribute_name(:positiva)
        %td= si_no(@tiporesolucion.positiva)
      %tr
        %th= label :aliaspdh, Tiporesolucion.human_attribute_name(:aliaspdh)
        %td= @tiporesolucion.aliaspdh