- @forview = "NEW"
= render :partial=>"breadcrumbs"

.mantform
  %h2
    Nuevo
    = Feriado.model_name.human

  = simple_form_for @feriado do |form|

    = render :partial => 'form', :locals => {:form => form}
    = buttons_create(feriados_path)