#breadcrumbs
  %ul.breadcrumb
    %li
      = link_to t("breadcrums.homepage"), main_index_path
      %span.divider /
    %li
      = link_to Solicitud.model_name.human.pluralize, solicitudes_path
    - if @forview
      - if @forview == "NEW"
        %li= t("data.title_new")
      - elsif @forview == "EDIT"
        %li= t("data.title_edit")
      - else
        %li= t("data.title_show")
.clear &nbsp;
