- content_for :head do
  = javascript_include_tag 'filtro_solicitudes', 'jquery.ui.datepicker-es.js'
.listing
  .page-header
    %h1= Solicitud.model_name.human.pluralize
  #options
    #findbox
      = form_tag buscar_path, :method=>:get, :class => 'form-search well' do
        = image_tag("find16.png")
        = text_field_tag 'search', '', :id=>'search'
        = submit_tag 'Buscar'
        %a{:class=>"btn", "data-toggle"=>"modal", :href=>"#myModal"} Busqueda Avanzada
  #solicitudes
    - unless @solicitudes.blank?
      %h3
        = @solicitudes.count
        Solicitudes Encontradas
      .center
        = will_paginate @solicitudes
      %table.table
        %thead
          %tr
            %th= Solicitud.human_attribute_name(:codigo)
            %th= Solicitud.human_attribute_name(:fecha_creacion)
            %th= Solicitud.human_attribute_name(:institucion)
            %th= Solicitud.human_attribute_name(:estado)
            %th= Solicitud.human_attribute_name(:dias)
            %th= Solicitud.human_attribute_name(:avance)
            %th= Solicitud.human_attribute_name(:textosolicitud)
        %tbody
        - @solicitudes.each do |solicitud|
          %tr{:class => "#{  solicitud.anulada? ? 'notice' : '' }"}
            %td= link_to solicitud.codigo, solicitud_path(solicitud)
            %td= l(solicitud.fecha_creacion)
            %td
              %small= truncate(solicitud.institucion.nombre)
            %td= solicitud.estado_actual
            %td= solicitud.dias_restantes
            %td= solicitud.avance
            %td= solicitud.extracto(current_usuario)
      .center
        = will_paginate @solicitudes
    - else
      No se han encontrado solicitudes.
#myModal.modal.hide
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3 Busqueda Avanzada
  .modal-body
    = render :partial => 'solicitudes/filtro'
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close

