#page-title.clearfix
  %h1= "Editar #{Fuente.model_name.human}"
  = render :partial => "shared/breadcrumbs"

.show.widget
  .widget-header
    %h3 Editar Fuente
  .widget-content
    = simple_form_for([:admin,@fuente], :html => {:class => 'form-horizontal'}) do |form|
      = render :partial => 'form', :locals => {:form => form}
      .form-actions
        = buttons_update(admin_fuentes_path)