#page-title.clearfix
  %h1= Fuente.model_name.human.pluralize
  = render :partial => "shared/breadcrumbs"
.widget
  #options.widget-toolbar
    = button_new(new_admin_fuente_path)
    = render :partial => 'shared/findbox', :locals => {:url => admin_fuentes_path}
  .widget-content
    %table.table
      %thead
        %tr
          %th= Fuente.human_attribute_name(:nombre)
      %tbody
        - @fuentes.each do |fuente|
          %tr
            %td= link_to fuente.nombre, [:admin,fuente]
    = will_paginate @fuentes