#no-asignadas
  %h3 Pendientes de Asignar a Enlaces
  %table.table
    %thead
      %th.col= t("solicitudes.label_codigo")
      %th.col= t("solicitudes.label_institucion_id")
      %th.col= t("solicitudes.label_fecha_creacion")
      %th.col= t("solicitudes.label_estado_id")
      %th.col= t("solicitudes.label_dias_restantes")
    %tbody
      - @noasignadas.each do |solicitud|
        %tr
          %td= link_to solicitud.codigo, laip_solicitud_path(solicitud)
          %td= solicitud.institucion.nombre
          %td= l(solicitud.fecha_creacion)
          %td= solicitud.estado.nombre
          %td= solicitud_dias_restantes_badge(solicitud)
    %tfoot
      %td{:colspan => "10"}
        *Solicitudes pendiente de ser asignadas a enlaces.
