#page-title.clearfix
  %h1= Tiporesolucion.model_name.human.pluralize
  = render :partial => "shared/breadcrumbs"
.widget
  #options.widget-toolbar
    = button_new(new_admin_tiporesolucion_path)
    = render :partial => 'shared/findbox', :locals => {:url => admin_tiposresoluciones_path}
  .widget-content
    %table.table
      %thead
        %tr
          %th= Tiporesolucion.human_attribute_name(:nombre)
      %tbody
        - @tiposresoluciones.each do |tiporesolucion|
          %tr
            %td= link_to tiporesolucion.nombre, [:admin,tiporesolucion]
    = will_paginate @tiposresoluciones