#page-title.clearfix
  %h1= "Nuevo #{Usuario.model_name.human}"
  = render :partial => "shared/breadcrumbs"

.show.widget
  .widget-header
    %h3 Nuevo Usuario
  .widget-content
    = simple_form_for(@usuario, :html => {:class => 'form-horizontal' }) do |form|
      = render :partial => 'form', :locals => {:form => form}
      .form-actions
        = buttons_create(usuarios_path)
