- content_for :head do
  = javascript_include_tag 'recursosrevision.js'

- @forview = "EDIT"
= render :partial => "breadcrumbs"

%h1.alt= Recursorevision.model_name.human.pluralize

= render :partial => "solicitudes/solicitud"

.mantform
  %h2
    Editar
    = Recursorevision.model_name.human

  = simple_form_for [@solicitud,@recursorevision] do |form|

    = render :partial => 'form', :locals => {:form => form}
    = buttons_update(solicitud_recursosrevision_path(@solicitud))