#breadcrumbs.span-24.last
  %ul.breadcrumb
    %li
      = link_to t("breadcrums.homepage"), main_index_path
      %span.divider /
    %li
      = link_to t("breadcrums.actividades"), actividades_path
    - if @forview
      - if @forview == "NEW"
        %li= t("actividades.title_new")
      - elsif @forview == "EDIT"
        %li= t("actividades.title_edit")
      - else
        %li= t("actividades.title_show")
.clear &nbsp;
